    .attribution { 
        font-size: 11px; 
        text-align: center; 
        display: none;
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    html {
        font-family: "lexend deca", sans-serif;
        box-sizing: border-box;
        font-size: 15px;
    }

    body {
        margin: 0;

    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: row;
        max-width: 1110px;
        padding: 12px;
        /* border: thin solid purple; */
    }

    .panel {
        display: flex;
        flex-flow: wrap;
        height: 450px;
        padding: 40px;
        /* border: thin solid lime */
    }

    .contents {
        padding-left: 30px;
        width: 100%;
        /* border: thin solid gold; */
    }

    button {
        background-color: hsl(0, 0%, 95%);
        font-family: inherit;
        font-size: 16px;        
        border: none;
        border-radius: 40px;
        padding: 15px 35px;

    }

    .sedanbtn {
        color: hsl(31, 77%, 52%);
    }

    .suvbtn {
        color: hsl(184, 100%, 22%);
    }

    .luxbtn {
        color: hsl(179, 100%, 13%);
    }

    .pic {
        margin-bottom: 40px;
        display: flex;
        height: 40px;
        width: 60px;
    }

    .sedans {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: hsl(31, 77%, 52%);
    }

    .sedanPic {
        
        background-image: url(../images/icon-sedans.svg);
        /* border: thin solid green; */
    }

    .suvs {
        background-color: hsl(184, 100%, 22%);
    }

    .suvPic {
        background-image: url(../images/icon-suvs.svg);
    }

    .luxury {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .luxPic {
        background-image: url(../images/icon-luxury.svg);
    }

    h1 {
        font-family: "Big Shoulders Display", cursive;
        font-size: 42px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: hsl(0, 0%, 95%);
    }

    p {
        color: hsla(0, 0%, 100%, 0.75);
        line-height: 30px;
        margin-bottom: 40px;
        width: 80%;
    }


@media  (max-width: 700px) {
    
    .wrapper {
        align-items: unset;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(-0%, -0%);
        margin: 100px auto;
        padding: 0;
        width: 100%; */
    }
    
    .panel {
        width: 80%;
        margin: 0 20px 0 20px;
        /* border: thin solid lime;         */
    }

    .sedans {
        border-radius: 15px 15px 0 0;
    }

    .luxury {
        border-radius: 0 0 15px 15px;
    }
}